<header class="container-fluid">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-12 col-md-6 p-4 text-center text-md-start w-10">
      <div class="d-flex flex-column align-items-center align-items-md-start w-75">
        <img src="assets/logo-memoteca.png" alt="Memoteca Logo" class="mb-3">
        <p class="text-info fs-2 mb-0">Guarde trechos de músicas, citações de livros, pensamentos e suas melhores ideias.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center d-none d-md-block">
      <img src="assets/computador-cabecalho.png" alt="Laptop Illustration" class="img-fluid w-75 w-md-50">
    </div>
  </div>
</header>
